<a href="https://colab.research.google.com/github/vahidseydi/Regression/blob/master/Multiple_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

In [0]:
import warnings
warnings.simplefilter("ignore")

In [0]:
def RSS(Y,Y_hat):
  # sum(np.power((Y-Y_hat),2)
  return (Y-Y_hat).T*(Y-Y_hat)

In [0]:
def predict(H):
  return H*w

In [2]:
url='https://raw.githubusercontent.com/vahidseydi/Regression/master/kc_house_data.csv'
data=pd.read_csv(url)
data.head()

           id             date     price  ...     long  sqft_living15  sqft_lot15
0  7129300520  20141013T000000  221900.0  ... -122.257           1340        5650
1  6414100192  20141209T000000  538000.0  ... -122.319           1690        7639
2  5631500400  20150225T000000  180000.0  ... -122.233           2720        8062
3  2487200875  20141209T000000  604000.0  ... -122.393           1360        5000
4  1954400510  20150218T000000  510000.0  ... -122.045           1800        7503

[5 rows x 21 columns]

In [3]:
Y=data['price']
X=data
X=X.drop(['price'],axis=1)
X.head()

           id             date  bedrooms  ...     long  sqft_living15  sqft_lot15
0  7129300520  20141013T000000         3  ... -122.257           1340        5650
1  6414100192  20141209T000000         3  ... -122.319           1690        7639
2  5631500400  20150225T000000         2  ... -122.233           2720        8062
3  2487200875  20141209T000000         4  ... -122.393           1360        5000
4  1954400510  20150218T000000         3  ... -122.045           1800        7503

[5 rows x 20 columns]

In [14]:
features=['bedrooms','bathrooms','sqft_living','sqft_lot','floors','yr_built']
H=X[features]
H['intersept']=1
H.head()

   bedrooms  bathrooms  sqft_living  sqft_lot  floors  yr_built  intersept
0         3       1.00         1180      5650     1.0      1955          1
1         3       2.25         2570      7242     2.0      1951          1
2         2       1.00          770     10000     1.0      1933          1
3         4       3.00         1960      5000     1.0      1965          1
4         3       2.00         1680      8080     1.0      1987          1

In [15]:
d=X.shape[1]
D=H.shape[1]
N=len(H)
print('d=%d,D=%d,N=%d'%(d,D,N))

d=20,D=7,N=21613

In [0]:
H=np.matrix(H)

In [37]:
HT=H.T
HT.shape

(7, 21613)

In [38]:
H.shape

(21613, 7)

In [0]:
temp1=HT*H

In [41]:
temp1.shape

(7, 7)

In [42]:
Y=np.array(Y)
Y=Y.reshape((len(Y),1))
Y.shape

(21613, 1)

In [43]:
temp2=temp1.I
temp3=temp2*HT
w=temp3*Y

AttributeError: ignored

In [30]:
w

matrix([[-6.84857047e+04],
        [ 6.75144335e+04],
        [ 3.03211017e+02],
        [-2.98319830e-01],
        [ 5.39815181e+04],
        [-3.36495113e+03],
        [ 6.55369505e+06]])

In [0]:
Y_hat = H*w

In [34]:
RSS=(Y-Y_hat).T*(Y-Y_hat)
RSS

matrix([[1.29266065e+15]])